body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/Arceusbg.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.mainpage {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    min-height: 100vh;
}


/* header */


/* .header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Pokedexwokenbg.png);
    background-blend-mode: lighten;
} */

.bg-img {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Pokedexbg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pokedex-text {
    width: 250px;
    cursor: pointer;
}


/* search-bar */

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    background-color: #2c7282;
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    height: 37px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 2px;
}

input {
    cursor: pointer;
    height: 35px;
    min-width: 200px;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    outline: none;
    padding: 2px;
}


/* mainpage */

.pokedex {
    /*     background-image: url(./img/lavadosbg.jpg); */
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.pokedex-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* pokemon Container */

.pokemon-container {
    background-color: rgb(85, 169, 85);
    width: 400px;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 2em;
}

.pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poke-id {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pokemon-id {
    font-size: 22px;
    margin-right: 1em;
    margin-top: 1em;
    color: #212529;
    font-weight: 800;
    opacity: 70%;
}

.pokemon-body {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.pokemon-body-nametype {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-name {
    font-size: 25px;
    font-weight: 600;
    margin-left: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-transform: capitalize;
    color: #212529;
}

.types-wrap {
    display: flex;
    flex-direction: column;
}

.pokemon-type1 {
    font-size: 18px;
    margin-left: 2em;
    margin-bottom: 0.75em;
    text-transform: capitalize;
    background-color: rgb(50, 144, 50);
    padding: 5px 15px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    width: 61px;
    text-align: center;
}

.pokemon-type2 {
    font-size: 18px;
    margin-left: 2em;
    margin-bottom: 0.75em;
    text-transform: capitalize;
    background-color: rgb(50, 144, 50);
    padding: 5px 15px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    width: 61px;
    text-align: center;
}

.pokemon-image {
    width: 200px;
    margin-right: 2em;
    margin-bottom: 2em;
    transform: scale3d(1.0, 1.0, 1.0) translateX(0px) translateY(0px);
    transition: transform 200ms ease-in-out;
}

.pokemon-image:hover {
    transform: scale3d(1.15, 1.15, 1.15) translateX(-25px) translateY(-8px);
}


/* global css */

.cursor {
    cursor: pointer;
}

.d-none {
    display: none;
}

.hide {
    display: none;
}

.bg-1 {
    background-image: url(../img/Arceusbg.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.underline {
    text-decoration: underline;
}

.stats-progress-bar {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.progress-container {
    height: 10px;
    background-color: #ccc;
    position: relative;
    border-radius: 10px;
    width: 200px;
    margin-top: 23px;
}

.progress-container .progressbar {
    height: 100%;
    background-color: #33926a;
    border-radius: 10px;
    width: 50px;
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


/* #pokedex {
    min-height: 50vh;
    background-color: rgb(192, 82, 31);
    color: white;
    display: flex;
    padding: 24px;
}

#info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 100px;
}

 */