body {
    margin: 0;
}


/* header */

.header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #344e66;
}

.bg-img {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Pokedexbg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pokedex-text {
    width: 250px;
}


/* mainpage */

.pokedex {
    background-image: url(./img/lavadosbg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.pokedex-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* pokemon Container */

.pokemon-container {
    background-color: rgb(85, 169, 85);
    width: 400px;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 2em;
}

.pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poke-id {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pokemon-id {
    font-size: 22px;
    margin-right: 1em;
    margin-top: 1em;
}

.pokemon-body {
    display: flex;
    justify-content: space-between;
}

.pokemon-body-nametype {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-name {
    font-size: 20px;
    margin-left: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.pokemon-type1 {
    font-size: 18px;
    margin-left: 2em;
    margin-bottom: 0.75em;
}

.pokemon-type2 {
    font-size: 18px;
    margin-left: 2em;
    margin-bottom: 0.75em;
}

.pokemon-image {
    width: 200px;
    margin-right: 2em;
    margin-bottom: 2em;
}


/* #pokedex {
    min-height: 50vh;
    background-color: rgb(192, 82, 31);
    color: white;
    display: flex;
    padding: 24px;
}

#info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 100px;
}

 */