body {
    margin: 0;
}


/* header */

.header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #344e66;
}

.bg-img {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Pokedexbg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pokedex-text {
    width: 250px;
}


/* mainpage */

.pokedex {
    background-image: url(./img/lavadosbg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.pokedex-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* pokemon Container */

.pokemon-container {
    background-color: rgb(85, 169, 85);
    width: 400px;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 2em;
}

.pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poke-id {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pokemon-id {
    font-size: 22px;
    margin-right: 1em;
    margin-top: 1em;
}

.pokemon-body {
    display: flex;
    justify-content: space-between;
}

.pokemon-body-nametype {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-name {
    font-size: 20px;
    margin-left: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-transform: capitalize;
}

.pokemon-type1 {
    font-size: 18px;
    margin-left: 2em;
    margin-bottom: 0.75em;
    text-transform: capitalize;
}

.pokemon-type2 {
    font-size: 18px;
    margin-left: 2em;
    margin-bottom: 0.75em;
    text-transform: capitalize;
}

.pokemon-image {
    width: 200px;
    margin-right: 2em;
    margin-bottom: 2em;
}


/* Pokemon-Entry-Box */

.pokemon-entry-wrap {
    display: flex;
    justify-content: center;
}

.pokemon-entry {
    background-color: rgb(219, 83, 83);
    height: 850px;
    width: 550px;
}

.pokemon-entry-head {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0;
    /*     padding: 7vw 14vh 0px; */
}

.pokemon-entry-head-Name {
    font-size: 50px;
}

.pokemon-entry-head-Idnumber {
    font-size: 50px;
}

.pokemon-entry-img {
    display: flex;
    justify-content: center;
}

.pokemon-entry-image {
    width: 350px;
}

.pokemon-entry-body {
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -40px;
    height: 100%;
}

.entry-body-headings {
    /*     padding: 45px 120px 0px; */
    padding: 40px 40px 0;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.entry-body-value {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 0;
    /*     padding: 45px 250px 0px; */
}

.one-value {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
}

.one-value span {
    margin-top: 20px;
}


/* #pokedex {
    min-height: 50vh;
    background-color: rgb(192, 82, 31);
    color: white;
    display: flex;
    padding: 24px;
}

#info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 100px;
}

 */